.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.VC.db
*.VC.VC.opendb
*.opendb
*.sqlite
*.cache
*.log
*.tlog
*.ipch
*.pidb
*.svclog
*.ncb
*.aps
*.dbmdl
*.obj
*.pdb
*.tmp
*.vsidx
[Bb]in/
[Oo]bj/
 

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
 

bin/
obj/
*.sqlite
 
*.exe
*.dll
*.config
 
 